!!! 5
html(lang="en")
  head
    title Apples to Apples
    script(type="text/javascript", src="http://cdn.socket.io/stable/socket.io.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.1.min.js")
    script(type="text/javascript", src="/client.js")
             
  body
    header
     h1 Apples
    content
      h2 My Nouns
      ul#my_nouns
      h2 Users
      ul#user_list
    footer
      p
        | An
        a(href="https://github.com/cmpolis/Apples-and-Oranges") open source 
        | application by 
        a(href="http://twitter.com/chrispolis") @ChrisPolis
        br
        | Built with 
        a(href="https://github.com/joyent/node") Node.JS
        | , 
        a(href="https://github.com/learnboost/socket.io-node") Socket.IO
        | , et al. 
        br
        | Development is being chronicled on
        a(href="http://www.bytemuse.com") ByteMuse.com
